.project-content{
    overflow: auto;
    text-align:justify;
    padding: 2em 2em 2em 2em;
    color: black;
    height: 76vh;
}
#header-project{
    font: 2em;
    color:black;

}

.tech{
    font-size: 1.5em;
}
ul{
    font-size: 1.5em;
    color: rgb(114, 109, 109);
}