.exp-content{
    text-align:justify;
    padding: 2em 2em 2em 2em;
    color: black;
}
#header-work{
    font: 2em;
    color: black;

}

.profile{
    font-size: 1.5em;
}
ul{
    font-size: 1.5em;
    color: rgb(114, 109, 109);
}