.exp-content{
    color:rgb(91, 82, 211);
    text-align:justify;
    padding: 2em 2em 2em 2em;
    color: black;
    font-family: fantasy;
}
#header-work{
    font: 2em;
    color:rgb(71, 59, 233);

}

.profile{
    font-size: 1.5em;
}
ul{
    font-size: 1.5em;
    color: rgb(114, 109, 109);
}